.profile {
    padding: 1rem;
}

.profile__header__flexContainer {
    display: flex;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.profile__header__info {
    width: 50%;
    animation: slide-left 1.0s both;
}

/* profile image styles ---------------------------------------------*/
.profile__imgContainer {
    width: 50%;
    margin-bottom: 1rem;
}

.profile__imgWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #c9d3d2;
}

.profile--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    mix-blend-mode: multiply;
}
/*-------------------------------------------------------------------*/

/*Activity Stats-----------------------------------------------------*/
#activity--article {
    margin-top: -1rem;
}

.activity__userStats {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(143, 159, 174, 0.75);
    height: 5rem;
    margin-bottom: 0.5rem;
}

.activity__stat {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid rgba(143, 159, 174, 0.75);
    width: 33.333333%;
}

.activity__stat__label {
    border-bottom: 0.75px solid rgba(143, 159, 174, 0.75);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: x-small;
}

.activity__stat__data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: smaller;
}

@media (min-width: 415px) {
    .activity__stat__label {
        font-size: small;
    }
    .activity__stat__data {
        font-size: smaller;
    }
}
@media (min-width: 542px) {
    .activity__stat__label {
        font-size: medium;
    }
    .activity__stat__data {
        font-size: medium;
    }
}
@media (min-width: 600px) {
    /* .activity__stat {
        flex-direction: row;
    } */
    .activity__userStats {
        height: 3.75rem;
    }
    .activity__stat__data {
        font-weight: bold;
    }
}
/*-------------------------------------------------------------------*/

/*Activity Observation Card------------------------------------------*/
.activity__observation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: -1px 1px 4px rgba(41, 51, 51, 0.5);
    border-radius: 4px;
    row-gap: 1rem;
    column-gap: 0.45rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 98%;
    background-image: linear-gradient(45deg, #142321 -150%, #889884  100%);
}

.activity__observation__imgContainer {
    width: 98%;
    margin-bottom: 1rem;
}

.activity__observation__imgWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.activity__observation--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

@media (min-width: 500px) {
    .activity__observation {
        flex-direction: row;
        min-height: 8rem;
    }

    .activity__observation__imgContainer {
        width: 35%;
        margin-bottom: 0;
        flex-shrink: 0;
    }
}

@media (min-width: 950px) {
    .activity__observation {
        width:60%;
        animation: slide-left 1.0s both;
    }

    .activity__observation__imgContainer {
        width: 25%;
    }
}
/*-------------------------------------------------------------------*/

/*Profile Study Card-------------------------------------------------*/
.profile__studyCard__title {
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
}

.profile__studyCard__title:hover {
    color: #e05f15;
}

.profile__studyCard__flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.profile__studyCard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: -1px 1px 4px rgba(41, 51, 51, 0.5);
    border-radius: 4px;
    row-gap: 0.65rem;
    column-gap: 0.45rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 95%;
    background-color: #889884;
    background-image: linear-gradient(45deg, #142321 -150%, #889884  100%);
    background-color: #142321;
}

.profile__studyCard h3 {
    margin: 0;
}

.profile__studyCard__imgContainer {
    width: 100%;
    margin-bottom: 0;
    align-self: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.profile__studyCard__imgWrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
    padding-top: 40%;
    background-color: #c9d3d2;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.profile__studyCard--img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    mix-blend-mode: multiply;
}

.profile__studyCard__info {
    padding: 0.5rem;
}

.profile__studyCard--footer {
    border-top: 1px double rgba(42, 50, 50, 0.25);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.5rem;
}

.profile__studyCard__dltPrompt {
    margin-right: 0.4rem;
}

@media (min-width: 610px) {
    .profile__studyCard__flexContainer {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profile__studyCard {
        width: 47%;
    }
}

@media (min-width: 1040px) {
    .profile__studyCard__flexContainer {
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 2.5rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile__studyCard {
        width: 30%;
    }
}

@media (min-width: 1180px) {
    .profile__studyCard__flexContainer {
        column-gap: 3.2rem;
    }
}
/*-------------------------------------------------------------------*/

/*Desktop View-------------------------------------------------------*/


@media (min-width: 600px) {

    .profile__header__info {
        width: 65%;
    }

    .profile__imgContainer {
        width: 25%;
        margin-bottom: 1rem;
    }

}

