.popup {
  width: 100%;
  color: #142321;
}

.popup__ImgContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.popup__ImgWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 32%;
  padding-top: 32%;
}

.popup--Img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}