.dropdown {
    position: relative;
    display: inline-block;
    min-width: calc(100vw - 0.75rem - 0.75rem);
    border-radius: 6px;
  }
  
  .dropdown-button {
    margin-left: auto;
    width: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: all .25s ease-in-out;
  }

  #hamburger {
    width: 100%;
    margin: 0;
    transition: all .25s ease-in-out;
  }

  #hamburger:hover {
    transform: scale(1.2);
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 100%;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: dropdownFade 0.35s;
    margin-top: 5.5vh;
  }

  @keyframes dropdownFade {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .dropdown--link {
    color: #000;
    padding: 2.25rem 16px;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', 'Mooli', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: larger;
    border-bottom: 1px solid rgba(36, 34, 34, 0.25);
  }
  
  .dropdown--link:hover {
    background-color: #f1f1f1;
  }

  .dropdown--link__top {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .dropdown--link__bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  /*Tablet/Desktop View------------------------------------------------------------------*/
@media (min-width: 420px) {
  .dropdown-button {
    width: 2.1rem;
  }
}

@media (min-width: 914px) {
  .dropdown {
    min-width: 160px;
  }

  .dropdown-content {
    min-width: 160px;
    text-align: left;
  }

  .dropdown--link {
    font-size: inherit;
    padding: 18px 16px;
    border-bottom: none;
  }
}

@media (min-width: 1080px) {
  .dropdown-content {
    margin-top: 6vh;
  }
}