.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0 0.75rem 0 0.25rem;
    animation: navFade 0.75s;
    background-color: #142321;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(180deg, #142321 50%, #2d3f3d  125%);
}

@keyframes navFade {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    min-width: 15%;
}

.navbar__menu {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__logo {
    height: 80%;
    cursor: pointer;
}

@media (max-width: 326px) {
    .navbar__logo {
        height: inherit;
        width: 2.5rem;
    }
}
@media (max-width: 270px) {
    .navbar__logo {
        visibility: hidden;
        width: 0;
    }
}

#wilderTitle {
    cursor: pointer;
    color: #889884; 
    text-shadow: -0.25px 0.25px 0.25px rgba(43, 46, 46, 0.50);
    font-size: 1.225em;
}

#logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    height: 10vh;
    margin-left: 0.5rem;
    column-gap: 0.5rem;
}

/*Desktop View------------------------------------------------------------------*/
@media (min-width: 420px) {
    #logoContainer {
        height: 11vh;
    }

    #wilderTitle {
        font-size: 1.5em;
        font-weight: bolder;
    }
}

@media (min-width: 1080px) {
    #logoContainer {
        height: 12vh;
    }
}